*{
    margin : 0;
    padding: 0;
}

body{
   height: 100vh;
    background-color: rgb(53, 77, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 3vim;
}
h1{
    color: rgba(221, 202, 202, 0.493);
    
}
#paramsg{
    color: rgba(226, 209, 209, 0.493);
    font-size:5vmin;
}
#main{
    height:50vh ;
    line-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 25vw;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 0.1vmin;
    column-gap: 1vmin;
}
#newbtn{
    width: 22vmin;
    height: 6vmin;
    background-color: rgb(135, 239, 243);
    color: rgb(85, 54, 26);
    border: none;
    border-radius: 1rem;
    font-size: 3vmin;
    padding: 1vmin;
}
.box{
    width: 6vw;
    height: 12dvh;
    border-radius: 1rem;
    color: rgb(163, 15, 15);
    font-size:6vmin;
}
.winmsg{
    font-size: 4vmin;
    color: rgb(203, 223, 229);
}
.hide{
    display: none;
}
